body{
	background-color: #FAFDF3;
}

h1{
	color: black;
	justify-content: center;
}

h2{
	float: left;
}

div{

}

.flexy{
	display: flex;
	justify-content: center;
	background-color: red;
}
.flexy2{
	display: flex;
	width: 50%;
	background-color: green;
}
.flexy3{
	display: flex;
	width: 50%;
	background-color: blue;
}

.floatright{
	float: right;
}

.navbar{
	float: center;
	background-color: #C8AE7E;
 	text-align: center;
	padding: 14px 16px;
 	text-decoration: none;
  	font-size: 17px;
  	width: 100%;
}

.navbar a:link{
	color: #EDE8D0;
}

.navbar a:hover {
  	background-color: #D2BD96;
  	color: black;
}

.navbar a.active {
  	color: black;
}
